/* i colori scelti sono: #DCC48E gold crayola, #EAEFD3 beige, #B3C0A4 laurel green, #505168 indipendence, #27233A dark purple*/


.footerz{
  background-color: #DCC48E;
}

 .titolo{
  background-color: #DCC48E;
}

.navigazione{
  background-color: #B3C0A4;
}

.el_nav{
    color: #505168;
}
