/* i colori scelti sono: #DCC48E gold crayola, #EAEFD3 beige, #B3C0A4 laurel green, #505168 indipendence, #27233A dark purple*/


.footerz{
  background-color: #27233A;
  color: white;
}

 .titolo{
  background-color: #27233A;
  color: white;
}

.navigazione{
  background-color: #505168;
}

.el_nav{
    color: #505168;
}

.lateral{
    background-color: #505168;
}

.good{
    background-color: #b3c0a4;
}

.bad{
    background-color: #dcc48e;
}

body{
    background-color: #eae6d3;
}

