{% extends "pagina_studenti.html" %}

{% block mycontent %}
    <div class="row">
        <div class="card shadow">
            <div class="card-header">
                <h1>{{ stud.cognome }} {{ stud.nome }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <h5>Classe frequentata:</h5>
                        <p>{{ stud.classe }}</p>
                        <hr>
                        <h5>Email:</h5>
                        <p>{{ stud.email }}</p>
                    </div>
                    <div class="col-7">
                        <h5>Corsi frequentati:</h5>
                        <ul>
                            {% for i in stud.competenze.all %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-9"></div>
                <div class="col-3">
                    <a href="{% url "elimina_studente" stud.pk %}" class="btn bad">Elimina</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




                    <ul>

                        </ul>