{% extends 'base.html' %}

{% block mybody %}




    {% if stud|length >= 2 %}
        {% for stud in stud %}
            <p>Cognome: {{ stud.cognome }}</p>
            <p>Nome {{ stud.nome }}</p>
            <p>Email {{ stud.email }}</p>
            <p>Materie: {% for materia in stud.competenze.all %}{{ materia.nome }}, {% endfor %}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Cognome: {{ stud.cognome }}</p>
        <p>Nome {{ stud.nome }}</p>
        <p>Email {{ stud.email }}</p>
        <p>Materie: {% for materia in stud.competenze.all %}{{ materia.nome }}, {% endfor %}</p>
    {% endif %}
{% endblock %}

{% block title %}
    Info Studente {{ stud.nome }} {{ stud.cognome }}
{% endblock %}