{% extends 'base.html' %}

{% block mybody %}
    <table class="table">
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Materia</th>
            </tr>
        </thead>
        <tbody>
            {% for prof in profs %}
                <tr>
                    <td> {{ prof.cognome }} </td>
                    <td> {{ prof.nome }} </td>
                    <td> {{ prof.email }} </td>
                    <td style="text-transform: capitalize;"> {{ prof.insegnamenti.last.nome }}</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
{% endblock %}

{% block title %}
    Info Professori
{% endblock %}