{% extends 'pagina_studenti.html' %}


{% block mycontent %}
    <table class="table">
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for stud in studs %}
                <tr>
                    <td><a href="{% url "dettaglio_studente" stud.pk %}"> {{ stud.cognome }} </a></td>
                    <td><a href="{% url "dettaglio_studente" stud.pk %}"> {{ stud.nome }} </a></td>
                    <td> {{ stud.email }} </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
{% endblock %}
