<div class="container-fluid">
      <div class="row p-3 titolo">
        <div class="col-12">
          <h1>Scuola Statale "Nome Scuola"</h1>
        </div>
      </div>
      <div class="row navigazione">
        <div class="col-12">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link el_nav" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link el_nav" href="{% url 'studenti' %}">Studenti</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link el_nav" href="{% url 'professori' %}">Professori</a>
            </li>            <li class="nav-item">
              <a  class="nav-link el_nav" href="{% url 'test_form' %}">Test per form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>




